@import 'tailwindcss';

body {
  @apply bg-[#080808] text-white;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #2563eb, #4f46e5, #7c3aed);
  border-radius: 1rem;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #1d4ed8, #4338ca, #6d28d9);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(99, 102, 241, 0.5);
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  margin: 4px;
}
