@import "tailwindcss";

@layer base {
    :root {
        --main-bg-color: #080808;
        --second-bg-color: #0c0c0c;
        --main-color: #0473db;
        --text-color: #fff;
    }
}

body {
    @apply bg-[var(--main-bg-color)] text-white;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--main-bg-color);
    width: 50px;
}